<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds" debug="true">
    <property name="LOG_DIR" value="${EXT_DIR:-/sdcard}/Android/data/org.courville.nova/files/logback"/>

    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%logger{200}</pattern>
        </tagEncoder>
        <encoder>
            <!--<pattern>[%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- exclude trace from logcat-->
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/nova.log</file>
        <encoder>
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- exclude trace from logcat-->
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/nova-%d.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>50MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- Debug first activity -->
    <logger name="com.archos.mediacenter.video.browser.MainActivity" level="INFO"/>
    <logger name="com.archos.mediacenter.video.browser.MainFragment" level="INFO"/>
    <logger name="com.archos.mediacenter.video.leanback.MainFragment" level="INFO"/>
    <logger name="com.archos.mediacenter.video.CustomApplication" level="INFO"/>

    <!-- Debug player -->
    <logger name="com.archos.mediacenter.video.player.Player" level="INFO"/>
    <logger name="com.archos.mediacenter.video.player.PlayerActivity" level="INFO"/>
    <logger name="com.archos.mediacenter.video.player.PlayerController" level="INFO"/>
    <logger name="com.archos.mediacenter.video.player.PlayerService" level="INFO"/>
    <logger name="com.archos.mediacenter.video.player.MediaButtonService" level="INFO"/>

    <!-- Debug permissions -->
    <logger name="com.archos.mediacenter.video.browser.PermissionChecker" level="DEBUG"/>

    <logger name="com.archos.filecorelibrary.FileUtils" level="INFO"/>
    <logger name="com.archos.filecorelibrary.FileUtilsQ" level="INFO"/>

    <!-- Debug network shares -->
    <logger name="com.archos.filecorelibrary.sshj" level="INFO"/>
    <logger name="com.archos.filecorelibrary.smbj" level="INFO"/>
    <logger name="com.archos.filecorelibrary.webdav" level="INFO"/>

    <logger name="com.archos.mediacenter.video.browser.filebrowsing.BrowserByFolder" level="INFO"/>
    <logger name="com.archos.mediacenter.video.leanback.filebrowsing.ListingFragment" level="INFO"/>

    <logger name="com.archos.mediacenter.filecoreextension.upnp2" level="INFO"/>
    <logger name="com.archos.mediacenter.upnp" level="INFO"/>
    <logger name="com.archos.filecorelibrary.samba.NetworkCredentialsDatabase" level="INFO"/>
    <logger name="com.archos.mediacenter.video.leanback.network.NetworkServerCredentialsDialog" level="INFO"/>

    <logger name="com.archos.mediacenter.utils.videodb.XmlDb" level="INFO"/>

    <logger name="com.archos.mediaprovider.video.VideoStoreImportReceiver" level="INFO"/>
    <logger name="com.archos.mediaprovider.video.VideoStoreImportService" level="INFO"/>
    <logger name="com.archos.mediaprovider.video.VideoStoreImportImpl" level="INFO"/>
    <logger name="com.archos.mediaprovider.video.NetworkScannerServiceVideo" level="INFO"/>
    <logger name="com.archos.mediascraper.AutoScrapeService" level="INFO"/>

    <!-- Debug: Did not manage to access the file -->
    <logger name="com.archos.mediacenter.video.info.VideoInfoActivityFragment" level="INFO"/>
    <logger name="com.archos.mediacenter.video.leanback.details.FileDetailsRowPresenter" level="INFO"/>
    <logger name="com.archos.mediacenter.video.info.VideoInfoCommonClass" level="INFO"/>
    <logger name="com.archos.mediacenter.video.utils.VideoMetadata" level="INFO"/>
    <logger name="com.archos.medialib.AvosMediaMetadataRetriever" level="INFO"/>
    <logger name="com.archos.medialib.AndroidMediaMetadataRetriever" level="INFO"/>

    <logger name="com.archos.medialib.SmbProxy" level="INFO"/>
    <logger name="com.archos.filecorelibrary.StreamOverHttp" level="INFO"/>

    <!-- Debug jcifs -->
    <logger name="jcifs.netbios.UdpDiscovery" level="INFO"/>
    <logger name="com.archos.filecorelibrary.jcifs" level="INFO"/>
    <logger name="com.archos.mediacenter.video.browser.filebrowsing.network.SmbBrowser" level="INFO"/>
    <logger name="jcifs.netbios.UdpDiscovery" level="INFO"/>
    <logger name="jcifs.netbios.NameServiceClientImpl" level="INFO"/>
    <logger name="jcifs.smb.SmbSessionImpl" level="INFO"/>
    <logger name="jcifs.util.transport.Transport" level="INFO"/>
    <logger name="jcifs.smb.SmbTransportImpl" level="INFO"/>
    <logger name="com.archos.filecorelibrary.samba" level="INFO"/>

    <!-- Debug scraper -->
    <logger name="com.archos.mediascraper.themoviedb3" level="INFO"/>
    <logger name="com.archos.mediascraper.preprocess" level="INFO"/>
    <logger name="com.archos.mediascraper.xml" level="INFO"/>
    <logger name="com.archos.mediascraper.NfoWriter" level="INFO"/>
    <logger name="com.archos.mediascraper.NfoParser" level="INFO"/>

    <!-- Debug auto-scan refresh -->
    <logger name="com.archos.mediaprovider.video.NetworkAutoRefresh" level="INFO"/>
    <logger name="com.archos.mediaprovider.video.NetworkScannerUtil" level="INFO"/>
    <logger name="com.archos.mediaprovider.video.NetworkScannerServiceVideo" level="INFO"/>
    <logger name="com.archos.mediaprovider.video.NetworkRefreshJob" level="INFO"/>

    <includes>
        <include file="${LOG_DIR}/logback.xml" optional="true" />
    </includes>

    <root level="INFO">
        <appender-ref ref="logcat"/>
    </root>

</configuration>
