<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds">
    <property name="LOG_DIR" value="${nova.logback.dir}"/>

    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%logger{200}</pattern>
        </tagEncoder>
        <encoder>
            <!--<pattern>[%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- exclude trace from logcat-->
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/nova.log</file>
        <encoder>
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- exclude trace from logcat-->
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/nova-%d.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>50MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- Debug first activity -->
    <logger name="com.archos.mediacenter.video.browser.MainActivity" level="INFO"/>
    <logger name="com.archos.mediacenter.video.browser.MainFragment" level="INFO"/>
    <logger name="com.archos.mediacenter.video.leanback.MainFragment" level="DEBUG"/>
    <logger name="com.archos.mediacenter.video.CustomApplication" level="DEBUG"/>

    <logger name="com.archos.mediacenter.video.browser.FileManagerService" level="INFO"/>
    <logger name="com.archos.mediacenter.video.browser.NewVideosActionProvider" level="INFO"/>
    <logger name="com.archos.mediacenter.video.browser.TorrentObserverService" level="INFO"/>

    <!-- Debug player -->
    <logger name="com.archos.mediacenter.video.player.Player" level="INFO"/>
    <logger name="com.archos.mediacenter.video.player.SurfaceController" level="INFO"/>
    <logger name="com.archos.mediacenter.video.player.PlayerActivity" level="INFO"/>
    <logger name="com.archos.mediacenter.video.player.PlayerController" level="INFO"/>
    <logger name="com.archos.mediacenter.video.player.PlayerService" level="INFO"/>
    <logger name="com.archos.mediacenter.video.player.ExternalPlayerService" level="INFO"/>
    <logger name="com.archos.mediacenter.video.utils.ExternalPlayerResultListener" level="INFO"/>

    <logger name="com.archos.mediacenter.video.player.MediaButtonService" level="INFO"/>
    <logger name="com.archos.mediacenter.video.player.tvmenu.TVCardDialog" level="INFO"/>


    <!-- Debug permissions -->
    <logger name="com.archos.mediacenter.video.browser.PermissionChecker" level="INFO"/>

    <logger name="com.archos.filecorelibrary.FileUtils" level="INFO"/>
    <logger name="com.archos.filecorelibrary.FileUtilsQ" level="INFO"/>

    <!-- Debug network shares -->
    <logger name="com.archos.filecorelibrary.sshj" level="INFO"/>
    <logger name="com.archos.filecorelibrary.smbj" level="DEBUG"/>
    <logger name="com.hierynomus.smbj" level="DEBUG"/>
    <logger name="com.hierynomus.smbj.share.SmbjPrefetchInputStream" level="DEBUG"/>
    <logger name="com.archos.filecorelibrary.webdav" level="INFO"/>

    <logger name="com.archos.mediacenter.video.browser.filebrowsing.BrowserByFolder" level="INFO"/>
    <logger name="com.archos.mediacenter.video.leanback.filebrowsing.ListingFragment" level="INFO"/>

    <logger name="com.archos.mediacenter.filecoreextension.upnp2" level="INFO"/>
    <logger name="com.archos.mediacenter.upnp" level="INFO"/>
    <logger name="org.jupnp" level="ERROR"/>
    <logger name="org.jupnp.transport.impl.DatagramIOImpl" level="OFF"/>
    <logger name="org.jupnp.android.AndroidRouter" level="WARN"/>
    <logger name="com.archos.filecorelibrary.samba.NetworkCredentialsDatabase" level="DEBUG"/>
    <logger name="com.archos.mediacenter.video.leanback.network.NetworkServerCredentialsDialog" level="INFO"/>

    <!-- bookmarks (also in PlayerService -->
    <logger name="com.archos.mediacenter.utils.videodb.XmlDb" level="INFO"/>
    <logger name="com.archos.mediacenter.utils.videodb.IndexHelper" level="INFO"/>

    <!-- Scraper store and database saving operations -->
    <logger name="com.archos.mediaprovider.video.VideoStoreImportReceiver" level="INFO"/>
    <logger name="com.archos.mediaprovider.video.VideoStoreImportService" level="INFO"/>
    <logger name="com.archos.mediaprovider.video.VideoStoreImportImpl" level="INFO"/>
    <logger name="com.archos.mediaprovider.video.NetworkScannerServiceVideo" level="INFO"/>
    <!-- Auto-scrape workflow (checks if NFO parsing is enabled, saves tags) -->
    <logger name="com.archos.mediascraper.AutoScrapeService" level="INFO"/>

    <!-- Local image lookup (findSeasonPoster, findShowPoster, findBackdrop) -->
    <logger name="com.archos.mediascraper.LocalImages" level="INFO"/>

    <logger name="com.archos.mediacenter.cover.LibraryUtils" level="INFO"/>

    <!-- Debug: Did not manage to access the file -->
    <logger name="com.archos.mediacenter.video.info.VideoInfoActivityFragment" level="INFO"/>
    <logger name="com.archos.mediacenter.video.leanback.details.VideoDetailsFragment" level="DEBUG"/>
    <logger name="com.archos.mediacenter.video.leanback.details.FileDetailsRowPresenter" level="INFO"/>
    <logger name="com.archos.mediacenter.video.leanback.overlay.ScannerAndScraperProgress" level="INFO"/>
    <logger name="com.archos.mediacenter.video.leanback.overlay.Overlay" level="INFO"/>

    <logger name="com.archos.mediacenter.video.info.VideoInfoCommonClass" level="INFO"/>
    <logger name="com.archos.mediacenter.video.utils.VideoMetadata" level="INFO"/>
    <logger name="com.archos.mediacenter.video.utils.CodecDiscovery" level="INFO"/>
    <logger name="com.archos.medialib.AvosMediaMetadataRetriever" level="INFO"/>
    <logger name="com.archos.medialib.AndroidMediaMetadataRetriever" level="INFO"/>

    <logger name="com.archos.medialib.SmbProxy" level="INFO"/>
    <logger name="com.archos.filecorelibrary.StreamOverHttp" level="INFO"/>

    <!-- Debug jcifs & smbj -->
    <logger name="jcifs" level="INFO"/>
    <logger name="com.archos.filecorelibrary.jcifs" level="INFO"/>
    <logger name="com.archos.filecorelibrary.jcifs.JcifsFileEditor" level="INFO"/>
    <logger name="com.archos.filecorelibrary.smbj.SmbjFileEditor" level="DEBUG"/>
    <logger name="com.archos.filecorelibrary.smbj.SmbjListingEngine" level="DEBUG"/>
    <logger name="com.archos.filecorelibrary.smbj.SmbjRawLister" level="DEBUG"/>
    <logger name="com.archos.filecorelibrary.smbj.SmbjUtils" level="DEBUG"/>
    <logger name="com.archos.mediacenter.video.browser.filebrowsing.network.SmbBrowser" level="DEBUG"/>
    <logger name="jcifs.netbios.UdpDiscovery" level="INFO"/>
    <logger name="jcifs.netbios.NameServiceClientImpl" level="WARN"/>
    <logger name="jcifs.smb.SmbSession" level="INFO"/>
    <logger name="jcifs.smb.SmbSessionImpl" level="INFO"/>
    <logger name="jcifs.util.transport.Transport" level="INFO"/>
    <logger name="jcifs.smb.SmbTransportImpl" level="INFO"/>
    <logger name="com.archos.filecorelibrary.samba" level="DEBUG"/>

    <!-- Debug IntroDB skip intro/outro -->
    <logger name="com.archos.mediacenter.utils.introdb.IntroDbApiHelper" level="INFO"/>
    <logger name="com.archos.mediacenter.utils.introdb.IntroDbAppApiHelper" level="INFO"/>
    <logger name="com.archos.mediacenter.utils.introdb.IntroDbManager" level="INFO"/>

    <!-- Debug trakt -->
    <logger name="com.archos.mediacenter.utils.trakt.Trakt" level="INFO"/>
    <logger name="com.archos.mediacenter.utils.trakt.TraktService" level="INFO"/>
    <logger name="com.archos.mediacenter.utils.trakt.TraktAPI" level="INFO"/>
    <logger name="com.archos.mediacenter.video.utils.oauth.OAuthDialog" level="INFO"/>
    <logger name="com.archos.mediacenter.video.utils.TraktSigninDialogPreference" level="INFO"/>

    <!-- Debug scraper -->
    <logger name="com.archos.mediascraper.Scraper" level="INFO"/>
    <logger name="com.archos.mediascraper.themoviedb3" level="INFO"/>
    <logger name="com.archos.mediascraper.themoviedb3.MyTmdb" level="INFO"/>
    <logger name="com.archos.mediascraper.preprocess" level="INFO"/>
    <logger name="com.archos.mediascraper.preprocess.SearchPreprocessor" level="INFO"/>
    <logger name="com.archos.mediascraper.preprocess.TvShowPathMatcher" level="INFO"/>
    <logger name="com.archos.mediascraper.preprocess.TvShowFolderMatcher" level="INFO"/>
    <logger name="com.archos.mediascraper.preprocess.MovieDefaultMatcher" level="INFO"/>
    <logger name="com.archos.mediascraper.preprocess.ParseUtils" level="INFO"/>

    <logger name="com.archos.mediascraper.xml" level="INFO"/>
    <logger name="com.archos.mediascraper.xml.BaseScraper2" level="INFO"/>
    <logger name="com.archos.mediascraper.xml.ShowScraper4" level="INFO"/>
    <logger name="com.archos.mediascraper.xml.MovieScraper3" level="INFO"/>
    <logger name="com.archos.mediascraper.NfoWriter" level="INFO"/>
    <logger name="com.archos.mediascraper.NfoParser" level="INFO"/>
    <logger name="com.archos.mediascraper.ScraperImage" level="INFO"/>
    <logger name="com.archos.mediascraper.themoviedb3.SearchMovieParser2" level="INFO"/>
    <logger name="com.archos.mediascraper.themoviedb3.SearchParserResult" level="INFO"/>
    <logger name="com.archos.mediascraper.themoviedb3.SearchShowParser" level="INFO"/>
    <logger name="com.archos.mediascraper.themoviedb3.ShowIdParser" level="INFO"/>
    <logger name="com.archos.mediascraper.themoviedb3.ShowIdEpisodes" level="INFO"/>
    <logger name="com.archos.mediascraper.AllCollectionScrapeService" level="INFO"/>
    <logger name="com.archos.mediascraper.ShowTags" level="INFO"/>
    <logger name="com.archos.mediascraper.EpisodeTags" level="INFO"/>
    <logger name="com.archos.mediascraper.MovieTags" level="INFO"/>

    <logger name="com.archos.mediacenter.video.leanback.scrapping" level="INFO"/>
    <logger name="com.archos.mediacenter.video.info" level="INFO"/>

    <logger name="com.archos.mediaprovider.video.ScraperTables" level="INFO"/>
    <logger name="com.archos.mediaprovider.video.VideoOpenHelper" level="INFO"/>

    <!-- Subtitles -->
    <logger name="com.archos.mediacenter.video.utils.SubtitlesDownloaderActivity2" level="INFO"/>
    <logger name="com.archos.mediacenter.video.utils.OpenSubtitlesApiHelper" level="INFO"/>
    <logger name="com.archos.mediacenter.video.utils.ISO639codes" level="INFO"/>
    <logger name="com.archos.mediacenter.video.utils.PlayUtils" level="INFO"/>
    <logger name="com.archos.mediacenter.video.utils.VideoPreferencesCommon" level="INFO"/>
    <logger name="com.archos.mediacenter.video.player.SubtitleManager" level="INFO"/>
    <logger name="com.archos.mediacenter.video.browser.subtitlesmanager.SubtitleManager" level="INFO"/>
    <logger name="com.archos.mediacenter.video.player.Subtitle3DTextView" level="INFO"/>
    <logger name="com.archos.mediacenter.video.player.SubtitleGfxView" level="INFO"/>

    <logger name="com.archos.mediacenter.video.utils.MiscUtils" level="INFO"/>

    <!-- Debug auto-scan refresh -->
    <logger name="com.archos.mediaprovider.video.NetworkRefreshJob" level="INFO"/>
    <logger name="com.archos.mediaprovider.video.NetworkScannerUtil" level="INFO"/>
    <logger name="com.archos.mediaprovider.video.NetworkAutoRefresh" level="INFO"/>
    <logger name="com.archos.mediaprovider.video.RemoteStateService" level="INFO"/>
    <logger name="com.archos.mediaprovider.video.VideoProvider" level="INFO"/>
    <logger name="com.archos.mediaprovider.video.ScraperProvider" level="INFO"/>
    <logger name="com.archos.mediaprovider.MediaThumbnailService" level="INFO"/>

    <logger name="com.archos.mediaprovider.VolumeState" level="INFO"/>
    <logger name="com.archos.filecorelibrary.ExtStorageManager" level="INFO"/>
    <logger name="com.archos.filecorelibrary.ExtStorageReceiver" level="INFO"/>

    <logger name="com.archos.mediacenter.video.utils.DelayedBackgroundLoader" level="INFO"/>
    <logger name="com.archos.mediacenter.video.leanback.UnavailablePosterBroadcastReceiver" level="INFO"/>

    <includes>
        <include file="${LOG_DIR}/logback.xml" optional="true" />
    </includes>

    <root level="INFO">
        <appender-ref ref="logcat"/>
    </root>

</configuration>
